.alert-notification {
  background: #feedb7;
  border: 1px solid #fcd65e;
  color: #000;
  padding: 1rem;
  border-radius: .2rem;
  font-size: 1.6rem;
  margin: 2rem 0;

  &__heading {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__desc {
    margin: 0;
    overflow: auto;
    max-height: 200px;
    white-space: pre-line;
  }
}
