.pulse-success {
  animation: pulseSuccess 2s infinite;
}

.pulse-danger {
  animation: pulseDanger 2s infinite;
}

.pulse-secondary {
  animation: pulseSecondary 2s infinite;
}

.pulse-success-3 {
  animation: pulseSuccess 3s infinite;
}

.shake {
  animation-name: shake;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  &--delay-1 {
    animation-delay: 0s;
  }

  &--delay-5 {
    animation-delay: 4s;
  }

  &--delay-9 {
    animation-delay: 7s;
  }
}


@keyframes shake {
  1% {
    transform: rotate(5deg);
  }
  2% {
    transform: rotate(-5deg);
  }
  3% {
    transform: rotate(5deg);
  }
  4% {
    transform: rotate(-5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  6% {
    transform: rotate(-5deg);
  }
  7% {
    transform: rotate(5deg);
  }
  8% {
    transform: rotate(-5deg);
  }
  9% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(0);
  }
  97% {
    transform: rotate(0);
  }
  99% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}


//- animations
// ==================================================
@keyframes pulseDanger {
  0% {
    box-shadow: 0 0 0 0 rgba($danger, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($danger, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($danger, 0);
  }
}

@keyframes pulseSuccess {
  0% {
    box-shadow: 0 0 0 0 rgba($success, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($success, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($success, 0);
  }
}


@keyframes pulseWarning {
  0% {
    box-shadow: 0 0 0 0 rgba($warning, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($warning, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($warning, 0);
  }
}

@keyframes pulseSecondary {
  0% {
    box-shadow: 0 0 0 0 rgba($secondary, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($secondary, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($secondary, 0);
  }
}

@keyframes pulsePrimary {
  0% {
    box-shadow: 0 0 0 0 rgba($primary, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($primary, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

@keyframes pulseSize {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}