.dashboard {
  $self: &;
  position: relative;

  padding: 2rem 0;


  &__sidebar-rolled {
    position: fixed;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    left: -101%;
    top: 0;
    bottom: 0;
    //width: 28rem;
    width: 100%;
    //z-index: $overlayAboveZIndex;
    z-index: $baseZIndex;
    padding: 1.5rem;
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;

    &.active {
      visibility: visible;
      opacity: 1;
      left: 0;
    }

    @media (min-width: $xlg) {
      opacity: 1;
      visibility: visible;
      padding: 0;
      background: none;
      flex-basis: 5rem;
      max-width: 5rem;
      display: flex;
      flex-direction: column;
      border-right: 1px solid $gray-500;
      overflow: visible;
      height: calc(100vh - 4rem);
      position: sticky;
      top: 2rem;
    }

    @media (min-width: 1400px) {
      /* sidebar desktop version */
      flex: 0 0 auto;
      width: 5.5rem;
      max-width: 100%;
    }
  }

  &__sidebar-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__sidebar-copy {
    text-align: center;
    margin-top: auto;
    font-size: 1rem;
    color: $gray-500;

    span {
      display: block;
    }
  }

  &__lifeline {
    position: fixed;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    right: -101%;
    top: 0;
    bottom: 0;
    //width: 28rem;
    width: 100%;
    //z-index: $overlayAboveZIndex;
    z-index: $baseZIndex;
    padding: 1.5rem;
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;


    &.active {
      visibility: visible;
      opacity: 1;
      right: 0;
    }

    @media (min-width: $xlg) {
      //position: static;
      opacity: 1;
      visibility: visible;
      padding: 0;
      background: none;

      flex-basis: 25rem;
      max-width: 25rem;
      display: block;

      height: calc(100vh - 4rem);
      position: sticky;
      top: 2rem;
    }

    @media (min-width: 1400px) {
      /* lifeline desktop version */
      flex: 0 0 auto;
      width: 26rem;
      max-width: 100%;
    }

    .close-widget {
      left: 2rem;
      top: 2rem;
    }
  }

  &__nav {
    margin: 0 0 1.5rem;
    border-bottom: 1px solid $gray-500;
    padding: 0 1rem 1.5rem;

    @media (min-width: 1400px) {
      padding: 0 1rem 1.5rem;
    }
  }

  .dashboard-nav--thumbs {
    border: none;
    margin: 0 0 .8rem;
    //padding: 0;

    padding: 0 1rem;

    @media (min-width: 1400px) {
      padding: 0 1rem;
    }
  }

  @media (min-width: $xlg) {
    display: flex;
    &__main {
      /* main desktop version */
      flex: 0 0 auto;
      padding: 0 4rem;
      max-width: 100%;
      width: 100%;

      &--one-column {
        width: calc(100% - 25rem);
      }

      &--two-column {
        width: calc(100% - 25rem * 2);
      }
    }
  }

  @media(min-width: 1400px) {
    &__main {

      &--one-column {
        width: calc(100% - 26rem);
      }

      &--two-column {
        width: calc(100% - 26rem * 2);
      }
    }
  }

  &__menu-show-hide {
    position: absolute;
    top: 0;
    left: initial;
    right: -21px;
    cursor: pointer;
    z-index: 9999;

    &-area {
      position: relative;
    }

    &-arrow {
      background-color: $primary-color;
      color: $white;
      width: 20px;
      height: 77px;
      -webkit-clip-path: polygon(0 0, 100% 16%, 100% 75%, 0 100%);
      clip-path: polygon(0 0, 100% 20%, 100% 79%, 0 100%);

      &-toggle {
        position: absolute;
        padding: 0;
        background: none;
        right: 20px;
        top: 11px;
        bottom: 13px;
        border: none;
        cursor: pointer;
        display: inline-block;
        transform: rotate(90deg);

        svg {
          fill: $white;
          width: 12px;
          height: 12px;
          transition: all 0.3s;
        }

        &-close {
          transform: rotate(-90deg);
          right: -12px;
        }
      }
    }
  }

  .simplebar-vertical {
    margin-right: -4px;
  }
}
