[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-safe-contract:before {
  content: "\e91a";
}
.icon-project-offerte:before {
  content: "\e91b";
}
.icon-return-box:before {
  content: "\e91c";
}
.icon-db-upload:before {
  content: "\e91d";
}
.icon-mobile-phone:before {
  content: "\e919";
}
.icon-shopping-cart-checked:before {
  content: "\e910";
}
.icon-product:before {
  content: "\e911";
}
.icon-setup:before {
  content: "\e912";
}
.icon-download:before {
  content: "\e913";
}
.icon-database:before {
  content: "\e914";
}
.icon-question:before {
  content: "\e915";
}
.icon-validating-ticket:before {
  content: "\e916";
}
.icon-woman-avatar:before {
  content: "\e917";
}
.icon-woman:before {
  content: "\e918";
}
.icon-bin:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-euro:before {
  content: "\e905";
}
.icon-eye:before {
  content: "\e906";
}
.icon-file:before {
  content: "\e907";
}
.icon-filter:before {
  content: "\e908";
}
.icon-gestures:before {
  content: "\e909";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-logout:before {
  content: "\e90b";
}
.icon-man:before {
  content: "\e90c";
}
.icon-percent:before {
  content: "\e90d";
}
.icon-question-mark:before {
  content: "\e90e";
}
.icon-right-arrow:before {
  content: "\e90f";
}
.icon-rotation:before {
  content: "\e920";
}
.icon-rounded-check:before {
  content: "\e921";
}
.icon-scroll:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e923";
}
.icon-settings:before {
  content: "\e924";
}
.icon-shield:before {
  content: "\e925";
}
.icon-shopping-cart:before {
  content: "\e926";
}
.icon-speed:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e928";
}
.icon-start-button:before {
  content: "\e929";
}
.icon-truck:before {
  content: "\e92a";
}
.icon-two-settings-cogwheels:before {
  content: "\e92b";
}
.icon-wrench:before {
  content: "\e92c";
}
