.table-specification {
    font-size: 13px;
    overflow-x: auto;

    &__table {
        //width: 100%;
    }

    tbody, td, tfoot, th, thead, tr {
        border: 0 solid;
        border-color: inherit;
    }

    &__group-name {
        padding: 16px 8px 16px 0;
        text-transform: uppercase;
        color: $gray-400;
    }

    &__name {
        color: $gray-600;
        padding: 16px 8px 16px 0;
        width: 150px;
        @media (max-width: $xlg) {
            width: 110px;
            padding: 8px 4px 8px 0;
        }
    }

    &__value {
        color: $black;
        padding: 16px 0 16px 8px;
    }
}
