// ************************
// | Template main colors |
// ************************
// Brand Color Palette
$primary-color: #286aa3 !default;
$primary: #286aa3 !default;
$secondary-color: #ee731b !default;
$secondary: #ee731b !default;
$tertiary-color: #ff0000 !default;
$success-color: #008000 !default;
$grayBlack: #777777;

// Useful dark colors
$white: #ffffff !default;
$black: #000000 !default;
$dark: #333333 !default;
$dark--medium: #9a9a9a !default;
$dark--light: #9a9a9a !default;
$dark--thin: #9a9a9a !default;

// Userful gray colors
$gray: #cccccc !default;
$grayWeb: #878484 !default;
$grayDark: #555 !default;
$grayHighDark: #444 !default;
$gray--medium: #e6e6e6 !default;
$gray--light: #f7f7f7 !default;
$gray--thin: #fafafa !default;
$grayMain: #a7a6a6 !default;

// Colors
$blue: #3490dc;
$blue--light: #b8dfff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #cb001f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// ***************
// | Base styles |
// ***************
$body-bg: transparent;
$layout-max-width: 1280px !default;

$baseZIndex: 3 !default;
$flowZIndex: 11 !default;
$dropdownZIndex: 55 !default;
$dropdownAboveZIndex: 77 !default;
$overlayZIndex: 101 !default;
$overlayAboveZIndex: 111 !default;

//loader
$atom: $primary-color;
$spins: $secondary-color;
$loaderBackground: #fff;
$loaderMsg: #777;

// Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xlg: 1200px
);
$xs-ultra: 360px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;
$mlg: 1367px;

$xs--mw: 479px;
$sm--mw: 575px;
$md--mw: 767px;
$lg--mw: 991px;
$xlg--mw: 1199px;

$resW: 2879px;
$wxgW: 1441px;


$payments-logo-width: 70px;
$payments-logo-height: 40px;
$payments-logo-background-size: 100%;
$payments-logo-background-position: top;
$payments-logo-width2: 50px;
$payments-logo-height2: 50px;

$spacer: 1rem; // 10px

// **************
// | Typography |
// **************
// Base fonts stack
$font-base-weight: 400 !default;
$font-base-stack: 'Roboto', Arial, 'Helvetica', sans-serif !default;
$font-base-size: 1.8rem !default;
$font-base-color: #555555 !default;
$base-line-height: 1.5 !default;

// Headings
$headings-weight: 400 !default;
$headings-fonts-stack: 'Roboto', Arial, 'Helvetica', sans-serif !default;
$headings-color: $primary-color !default;
$headings-line-height: 1.1 !default;

// ********************************************
// | Buttons                                  |
// ********************************************
// Btn Base
$btn-color: $dark--medium !default;
$btn-radius: 0 !default;

// Btn Primary
$btn-primary-color: $white !default;
$btn-primary-bg: $secondary-color !default;
$btn-primary-hover: mix($black, $secondary-color, 11%) !default;

// Btn Secondary
$btn-secondary-color: $white !default;
$btn-secondary-bg: $primary-color !default;
$btn-secondary-hover: mix($black, $primary-color, 11%) !default;

// Btn Tertiary
$btn-tertiary-color: $white !default;
$btn-tertiary-bg: $tertiary-color !default;
$btn-tertiary-hover: mix($black, $tertiary-color, 11%) !default;

// Btn Gray
$btn-gray-bg: #cdcdcd !default;
$btn-gray-color: $white !default;
$btn-gray-hover: mix($black, $btn-gray-bg, 11%) !default;

// Btn Statusses
$btn-danger-bg: #ff3000 !default;
$btn-danger-color: $white !default;
$btn-danger-hover: mix(black, $btn-danger-bg, 11%) !default;

// Icons
$btn-icon-fill-color: #ffffff !default;

// *********
// | Forms |
// *********
$input-border-color: #777777;
$input-border-radius: 0;
$input-border-color-focus: $primary-color;
$input-focus-shadow: 0 0 1.5rem rgba($primary-color, 0.2);

//
$colorSearchInput: #9b9b9b;

$disabledButton: #b3b3b3;
